.container {
    margin: 2rem;

}
.card {
    margin:0 2% !important;
}
.card h5,
.card p {
    font-family: "Roboto";
}
.infected {
    border-bottom: 10px solid blue;
}
.recovered {
    border-bottom: 10px solid green;
}
.deaths {
    border-bottom: 10px solid crimson;
}