@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.container {
    background-color: aquamarine;
}
.countryName {
    background-color: black;
    color: blanchedalmond;
    text-align: center;
}
.moreShowBtn {
    width: 100%;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(12, 160, 20);
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}
