.countries {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 35px;
}
.App h1 {
    text-align: center;
    margin: 2rem 0;
}
.detail {
    background-color: rgb(5, 82, 21);
    color: #fff;
}
.showDetail {
    display: block;
    opacity: 1;
}
.closeDetail {
    display: none;
    opacity: 0;
}