@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.weather-card {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: brown;
    width: 300px;
    color: #fff;
    font-family: Montserrat;
    border-radius: 10px;
    padding: 15px;
    transform: translate(-50%,-50%);
}
img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 150px;
}
.country-name {
    display: flex;
    align-items: center;
    height: 100%;
}
.w-type {
    margin-top: 1.5rem;
}
.temp {
    padding: 1rem 0;
}
.temp-type::first-letter {
    text-transform: uppercase;
}
.project-title {
    text-align: center;
    font-family: Montserrat;
    margin-top: 3rem;
}